venv/
articles/

# Ignore Python cache files
&&%%pycache&&%%/
*.pyc
*.pyo

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.swp
*.swo

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore environment files
.env
