{% extends "base.html" %}

{% block title %}{{ article.title }} - Internet News Website{% endblock %}

{% block content %}
<main class="my-4">
    <article>
        <div class="col article-title">
            <h3>{{ article.title_full }}</h3>
        </div>
        <p class="article-date">{{ article.date_created }}</p>
        <p class="article-summary">{{ article.summary_full }}</p>
        <div class="separator"></div>
        <div>
            {{ article.body | safe }}
        </div>
    </article>
</main>
{% endblock %}
